nav {
  background-color: #333;
  color: white;
  padding: 15px;
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

a:hover {
  background-color: #555;
}

.active {
  background-color: #555;
}
